{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'website/styles/post.css' %}"> 
	<!-- Home -->
	
	<div class="home">
		<!-- <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'website/images/post.jpg' %}" data-speed="0.8"></div> -->
		<div class="home_slider_background" style="background-image:url({% static 'website/images/post.jpg' %})"></div>
		<div class="home_content">
			<div class="post_category trans_200"><a href="https://amzn.to/3kWCPo8" class="trans_200" style="color:red">Show Now</a></div>
			<div class="post_title" style="font-size:33px; font-family:Times New Roman; color:white" >Mi 360° 1080p Full HD WiFi Smart Security Camera| 360° Viewing Area |Intruder Alert | Night Vision </div>
		</div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">

						<!-- Top Panel -->
						<!-- <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/author.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2017 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> -->

						<!-- Post Body -->

						<div class="post_body">
                            <p class="post_p" style="font-size:20px;  color:red">Mi 360° 1080p Full HD WiFi Smart Security Camera| 360° Viewing Area |Intruder Alert | Night Vision | Two-Way Audio |Inverted Installation</p>
							<p class="post_p" style="color:turquoise">Before diving deeper let's look at some of its specifications, shall we?<br></p>
								<p class="post_p">	1.  AI motion detection alert. The camera angle is 110 degree and the connectivity is Wi-Fi IEEE 802.11 b/g/n 2.4 GHz<br>
								2. Input Power: 5V ; Working temperature: -10℃ ~ 50℃; Support Devices : Android 4.4 above or IOS 9.0 above<br>
								3.  The Mi Camera 360° has perfect picture quality. With Mi Camera's 20 megapixels, 1080p resolution and wide dynamic range, even distant backgrounds are clear and detailed<br>
                                4. Infrared Night Vision<br>
                                5. Up to 64GB SD card storage<br>
							</p>

							<figure>
								<img src="{% static 'website/images/collage.jpg' %}" alt="">
								<figcaption>Source Amazon.com</figcaption>
							</figure>
							<p class="post_p" style="color:turquoise">It's time to look at some of its features.<br></p>
							<p class="post_p">1. 360° Degree Vision Means Full Home Protection<br>
								The dual motor-head design enables the camera to rotate and capture a full 360° horizontal view and 96° vertical view. The camera’s shockproof design and quiet motor allow the rotation to remain smooth and silent.<br><br>

								2. Full Colour in Low Light<br>
								The all-new low-light true color technology allows you to see a full-color palette even in the later hours of the day, without reverting to infrared illumination that can only provide a black and white picture.<br><br>

								3. Intruder Alert<br>
								Through the integration of deep learning technology and focused optimization of the algorithms and network software, the camera is able to accurately determine when to alert you and notifies you on your phone.<br><br>
								
								4. Talkback Feature (2-way Audio)<br>
								No matter where you are, you can always talk to your family using the camera.<br><br>
								
								5. Conveniently Store Videos<br>
								This all-new video encoding technology allows smoother streaming and reduces bandwidth without compromising on detail. Supports Network Attached Storage (NAS). Network devices or routers with storage capabilities can be used to store files that are backed up from SD cards to NAS storage devices.<br><br>
								
								6. Multiple Views on a Single Screen<br>
								Living room, bed room, kitchen or garden, does every room in your house have a Mi Security Camera 1080p? You can still view multiple rooms easily and monitor them.<br><br>
								
								7. Stay in sync<br>
								Low Latency Mode6 enables an immersive real-time audio experience. With latency reduced to 110ms, your audio stays in sync.<br><br>
                                
                                8. View Recorded Videos on Smartphone/Tablet with Playback<br>
                                You can check on your family back home from anywhere and also fast forward through the recorded video at 2x/4x/16x speed.

							</p>
							<div class="post_quote">
								<p class="post_p">It comes with AI motion detection, is compatible with both IOS and Android has Optical Zoom of 2x and Optical Sensor Resolution of 2 MP.
								</p>
								<!-- <div class="post_quote_source">Nishant Sagar</div> -->
                            </div>
                            <p class="post_p" style="color:turquoise">So let's talk about some of its Pros and Cons</p>
                            <p class="post_p">Pros:<br><br>
                                -- Night mode recording.<br>
                                -- Clarity of camera.<br>
                                -- Multiple users can watch camera recording at same time.<br>
                                -- Two way communication.<br>
                                -- 1080p HD recording.<br>
                                -- Can record videos without internet , requires internet connection after switching camera on - after that you can disconnect & recording will continue.<br><br>

                                Cons:<br><br>
                                -- It doesn't support AUTO 360° rotation. User has to manually adjust camera from application.<br>
                                -- If there is a power outage or by any chance you disconnect power source , camera would start recording again after you connect it to internet.<br>
                                -- You need to keep camera connected to a power source for 24hours - charging option would've been helpful here.<br>
                                -- Application sometimes sends motion alerts after delay of 30minutes(approx).<br>
                                -- Memory card of storage capacity greater than 64gb are not supported<br>
							</p>
							<!-- Post Tags -->
							<div class="post_tags">
								<ul>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Shop Now</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Amazon</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">MI 360</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Camera</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/mypic.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2020 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_25.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_2.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

`								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_26.jpg'%}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>
							</div>

							<!-- Post Comment -->
							<div class="post_comment">
								<div class="post_comment_title">Post Comment</div>
								<div class="row">
									<div class="col-xl-8">
										<div class="post_comment_form_container">
											<form action="#">
												<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
												<input type="email" class="comment_input comment_input_email" placeholder="Your Email" required="required">
												<textarea class="comment_text" placeholder="Your Comment" required="required"></textarea>
												<button type="submit" class="comment_button">Post Comment</button>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Comments -->
							<div class="comments">
								<div class="comments_title">Comments <span>(12)</span></div>
								<div class="row">
									<div class="col-xl-8">
										<div class="comments_container">
											<ul class="comment_list">
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>

													<!-- Reply -->
													<ul class="comment_list">
														<li class="comment">
															<div class="comment_body">
																<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
																	<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_2.jpg' %}" alt=""></div></div>
																	<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
																	<button type="button" class="reply_button ml-auto">Reply</button>
																</div>
																<div class="comment_content">
																	<p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
																</div>
															</div>

															<!-- Reply -->
															<ul class="comment_list">
																
															</ul>
														</li>
													</ul>
												</li>
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>

				<!-- Sidebar -->

			


{% endblock %}