{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'website/styles/post.css' %}"> 
	<!-- Home -->
	
	<div class="home">
		<!-- <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'website/images/post.jpg' %}" data-speed="0.8"></div> -->
		<div class="home_slider_background" style="background-image:url({% static 'website/images/post.jpg' %})"></div>
		<div class="home_content">
			<div class="post_category trans_200"><a href="https://amzn.to/3kWCPo8" class="trans_200" style="color:red">Show Now</a></div>
			<div class="post_title" style="font-size:33px; font-family:Times New Roman; color:white" >Nikon D3500 W/AF-P DX Nikkor 18-55mm f/3.5-5.6G VR(Black)</div>
		</div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">

						<!-- Top Panel -->
						<!-- <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/author.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2017 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> -->

						<!-- Post Body -->

						<div class="post_body">
                            <p class="post_p" style="font-size:20px;  color:red">Nikon D3500 W/AF-P DX Nikkor 18-55mm f/3.5-5.6G VR with 16GB Memory Card and Carry Case (Black)</p>
							<p class="post_p" style="color:turquoise">Before diving deeper let's look at some of its specifications, shall we?<br></p>
								<p class="post_p">	1.  Sensor: APS-C CMOS Sensor with 24.2 MP (high resolution for large prints and image cropping)<br>
								2. ISO: 100-25600 sensitivity range (critical for obtaining grain-free pictures, especially in low light)<br>
                                3. Image Processor: Expeed 4 with 11 autofocus points (important for speed and accuracy of autofocus and burst photography)<br>
                                4. Video Resolution: Full HD video with fully manual control and selectable frame rates (great for precision and high-quality video work)<br>
                                5. Connectivity: WiFi, NFC and Bluetooth built-in (useful for remotely controlling your camera and transferring pictures wirelessly as you shoot)<br>
                                6. Lens Mount: Nikon F mount. Included Free Memory Card: 16 GB
							</p>

							<figure>
								<img src="{% static 'website/images/nikon.jpg' %}" alt="">
								<figcaption>Source Amazon.com</figcaption>
							</figure>
							<p class="post_p" style="color:turquoise">It's time to look at some of its features.<br></p>
							<p class="post_p">1. Beautiful Pictures for All<br>
								You don't need to be a photographer to know a great photo when you see one. And you don't need to be a photographer to take a great photo you just need the D3500. It's as easy to use as a point-and-shoot, but it takes beautiful DSLR photos and videos that get noticed. It feels outstanding in your hands, sturdy and balanced with controls where you want them. It's compact, durable and versatile, ideal for travel. And it works seamlessly with compatible smartphones, making it easier than ever to share your great photos. Even if you've never picked up a DSLR camera, you can take beautiful pictures with D3500.<br><br>

								2. Easy. Portable. Amazing<br>
								Take more memorable images. The photos you take with the D3500 capture more than the moment they capture the feeling of the moment, a feeling that can be shared immediately with your friends and family and then relived for a lifetime.<br><br>

								3. Newbies Welcome<br>
								If you can take a picture with your smartphone, you can take a great picture with the D3500. Auto mode delivers amazing results in nearly any situation. If you want to learn while you shoot, turn on Guide mode and follow simple on-screen guidance.<br><br>
								
								4. Less Thinking. More Shooting.<br>
								The D3500 is fast, responsive and simple to use. You won't be stuck fussing with camera controls while a great moment passes you by. Just point, shoot and share amazing photo after photo.<br><br>
								
								5. Your Camera's Bridge to your World<br>
								Download Nikon's free SnapBridge app and your D3500 photos will appear right on a compatible smartphone or tablet for posting to your favorite sites, sharing with friends and family or just as backups. You can even use the smartphone or tablet to remotely trigger the D3500 to take pictures.<br><br>
								
								6. The Difference is in the Details<br>
								The image sensor in the D3500 is approximately 15 times larger than those used in typical smartphones. That means much sharper, clearer photos with richer details photos that immediately grab attention and get likes.<br><br>
								
								7. Colors that Pop in Any Light<br>
								Inside every DSLR is a specialized computer that fine-tunes the settings for each shot. Nikon's renowned EXPEED image processing system is built upon a rich history of imaging know-how, and it helps the D3500 take beautifully vibrant photos and videos in nearly any condition.<br><br>
                                
                                8. Videos at the Touch of a Button<br>
                                Recording beautiful video with the D3500 is as easy as shooting photos. Just flip the Live View lever and press the record button. You’ll be capturing awesome 1080/60p full HD video instantly and effortlessly. Use your lens' zoom capability to shoot wide angle videos or tight close-ups.<br><br>

                                9. Picture After Amazing Picture<br>
                                Some of the best moments only last a split second. Press and hold the shutter button on the D3500 and capture up to 5 frames per second at full resolution with tack-sharp focus, ensuring you land the shot that matters.<br><br>

                                10. Fast, Accurate Focusing<br>
                                Unlike typical smartphones, fast-moving subjects are no problem for the D3500. 11 autofocus points are spread across the frame, and fulltime AF locks onto your subject and keeps it in focus while you capture amazing shot after shot.<br><br>

                                11. Twice the Fun<br>
                                The D3500 two lens kit includes two matched lenses to help you cover all the angles. The AF-P DX NIKKOR 18-55mm f/3.5-5.6G VR lens is great for portraits, landscapes, videos and other wide perspective shots. The AF-P DX NIKKOR 70-300mm f/4.5-6.3G ED is a versatile telephoto zoom lens that's great for sports, concerts, nature and more.<br><br>

                                12. Endless Possibilities<br>
                                Every Nikon DSLR lens offers a fun new perspective. Discover new worlds with an extreme close-up macro lens. Give your backgrounds a dreamy out of focus effect with a fast prime lens. Capture the whole scene with an ultra-wide-angle zoom lens. The possibilities are endless.<br>
							</p>
							<div class="post_quote">
								<p class="post_p">It comes with AI motion detection, is compatible with both IOS and Android has Optical Zoom of 2x and Optical Sensor Resolution of 2 MP.
								</p>
								<!-- <div class="post_quote_source">Nishant Sagar</div> -->
                            </div>
                            <p class="post_p" style="color:turquoise">Reviews</p>
                            <p class="post_p">
                                A. Picture quality -- Awesome, better purchase and see for yourself. Nikon basically is for stunning colours as the same colour vividness you can't find in any of the Canon DSLRs untill and unless they are full frame models.<br><br>
                                B. Battery life -- Avg. Usage of 2hrs every day gave the battery power running continuous for 3 days to me.<br><br>
                                C. Durability -- Here I have to mention that as it's a entry level DSLR. My suggestion go for it. Why? Let me explain<br><br>
                                i. The grip on this is DSLR is almost like a professional cameras. Just go to shop and physically feel the grip. You'll love it. And do compare with other cameras also if I am no wrong.<br>
                                ii. And for sure I have to say it's not weather resistant. According to me if you have 70 plus thousand rupees definitely go for weather sealed body full frame DSLRs. If not then grab this NIKON D3500 (An advanced model of 3400) released in the month of June 2018.<br><br>

                                Conclusion:<br><br>
                                Lastly don't think whether to choose the entry level or professional camera. My suggestion a person should be enough patience to buy entry level first, because an entry level itself has a lots of menu options where you'll learn a lots of things. And after the completion of every option and one think Iam a professional person then go for a full frame DSLRs which costs around 1 to 1.5 lakh. My suggestion in that case would be NIKON D500 or CANON 6D Mark II.<br><br>
                                Pls don't go for intermediate or Mid level cameras. Go basic level learn, experiment, go to field, study, repeat daily by varying different options, like ISO aperture and shutter speed, make yourself professional and then earn a very very good camera.<br>
							</p>
							<!-- Post Tags -->
							<div class="post_tags">
								<ul>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Shop Now</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Amazon</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">MI 360</a></li>
									<li class="post_tag"><a href="https://amzn.to/3kWCPo8">Camera</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/mypic.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2020 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_25.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_2.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

`								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_26.jpg'%}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>
							</div>

							<!-- Post Comment -->
							<div class="post_comment">
								<div class="post_comment_title">Post Comment</div>
								<div class="row">
									<div class="col-xl-8">
										<div class="post_comment_form_container">
											<form action="#">
												<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
												<input type="email" class="comment_input comment_input_email" placeholder="Your Email" required="required">
												<textarea class="comment_text" placeholder="Your Comment" required="required"></textarea>
												<button type="submit" class="comment_button">Post Comment</button>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Comments -->
							<div class="comments">
								<div class="comments_title">Comments <span>(12)</span></div>
								<div class="row">
									<div class="col-xl-8">
										<div class="comments_container">
											<ul class="comment_list">
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>

													<!-- Reply -->
													<ul class="comment_list">
														<li class="comment">
															<div class="comment_body">
																<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
																	<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_2.jpg' %}" alt=""></div></div>
																	<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
																	<button type="button" class="reply_button ml-auto">Reply</button>
																</div>
																<div class="comment_content">
																	<p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
																</div>
															</div>

															<!-- Reply -->
															<ul class="comment_list">
																
															</ul>
														</li>
													</ul>
												</li>
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>

				<!-- Sidebar -->

			


{% endblock %}