{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'website/styles/post.css' %}"> 
	<!-- Home -->
	
	<div class="home">
		<!-- <div class="home_background parallax-window" data-parallax="scroll" data-image-src="{% static 'website/images/post.jpg' %}" data-speed="0.8"></div> -->
		<div class="home_slider_background" style="background-image:url({% static 'website/images/1.jpg' %})"></div>
		<div class="home_content">
			<div class="post_category trans_200"><a href="https://amzn.to/2EI85b9" class="trans_200" style="color:red">Show Now</a></div>
			<div class="post_title" style="font-size:33px; font-family:Times New Roman; color:turquoise" >OnePlus Bullets Wireless Z in-Ear Bluetooth Earphones, Worth it or Not?</div>
		</div>
	</div>

	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">

						<!-- Top Panel -->
						<!-- <div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/author.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2017 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> -->

						<!-- Post Body -->

						<div class="post_body">
							<p class="post_p" style="color:red">Before diving deeper let's look at some of its specifications, shall we?<br></p>
								<p class="post_p">	1.   Compatible with all smartphones. Charge for 10 minutes, enjoy for 10 hours on your OnePlus Bullets Wireless Z that comes equipped with the latest Bluetooth v5.0 QCC3024 chipset<br>
								2.   With convenient features like Quick Switch, Quick Pair and Magnetic Control, listening to your music on your Bullets Wireless Z is a whole new acoustic experience<br>
								3.   The Bullets Wireless Z comes with Warp Charge technology<br>
								4.   A massive playtime of up to 20 hours with full charge<br>
							</p>

							<figure>
								<img src="{% static 'website/images/3.jpg' %}" alt="">
								<figcaption>Source GSMarens.com</figcaption>
							</figure>
							<p class="post_p" style="color:red">It's time to look at some of its features.<br></p>
							<p class="post_p">1. Tap to connect<br>
								Pairing your Bullets Wireless Z is as easy as separating the earbuds and tapping “Connect” 3.<br><br>

								2. Switch between paired devices<br>
								Quick Switch lets you switch between two paired devices, such as your phone and laptop. Simply press the function button twice to switch.<br><br>

								3. Press play with Magnetic Control<br>
								Simply separate the earbuds to start listening, and when you're ready to pause, just clip the earbuds together.<br><br>
								
								4. Freedom to move<br>
								Go wherever the music takes you. With improved connectivity, you no longer have to worry about the distance between you and your device 4.<br><br>
								
								5. Music to your ears<br>
								With a 9.2mm dynamic driver and super bass tone fitted in each earbud, you get to experience rich sound and superior tonality every time you press play.<br><br>
								
								6. Boost your workout<br>
								Level up your workout. Bullets Wireless Z’s reinforced sweat and water-resistant5 design gives you the freedom to take your earphones anywhere.<br><br>
								
								7. Stay in sync<br>
								Low Latency Mode6 enables an immersive real-time audio experience. With latency reduced to 110ms, your audio stays in sync.<br><br>
								

							</p>
							<div class="post_quote">
								<p class="post_p">It also comes with Sweat and water-resistant (IP55), Its Battery Life is about Up to 20 hours, 10 minutes charge for 10 hours of audio
									(according to One Plus official Website) and is only 28 g in weight.
								</p>
								<!-- <div class="post_quote_source">Nishant Sagar</div> -->
							</div>
							<p class="post_p">So when it comes to specifications The Bullets Wireless Z are the best wireless earphones we have tested in their price range.
								They are well-designed, comfortable, and have quite a few convenient features. The sound quality is quite acceptable for the price. We have certainly heard better, most
								notably from OnePlus' own Bullets Wireless 2, but not in this price range.<br><br>

								They also offer certified water-resistance, which is sure to assuage those who (still) go for a run or want to listen to music around water.
								For buyers in this budget, the audio quality they offer should be perfectly acceptable and even enjoyable.

							</p>
							<!-- <div class="post_quote">
								<p class="post_p">Aliquam auctor lacus a dapibus pulvinar. Morbi in elit erat. Quisque et augue nec tortor blandit hendrerit eget sit amet sapien. Curabitur at tincidunt metus, quis porta ex. Duis lacinia metus vel eros cursus pretium eget.</p>
								<div class="post_quote_source">Robert Morgan</div>
							</div> -->
							<!-- Post Tags -->
							<div class="post_tags">
								<ul>
									<li class="post_tag"><a href="https://amzn.to/3jhFSqA">Shop Now</a></li>
									<li class="post_tag"><a href="https://amzn.to/3jhFSqA">Amazon</a></li>
									<li class="post_tag"><a href="https://amzn.to/3jhFSqA">One Plus</a></li>
									<li class="post_tag"><a href="https://amzn.to/3jhFSqA">Wireless Z</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Bottom Panel -->
						<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
							<div class="author_image"><div><img src="{% static 'website/images/mypic.jpg' %}" alt=""></div></div>
							<div class="post_meta"><a href="#">Nishant Sagar</a><span>Sep 29, 2020 at 9:48 am</span></div>
							<div class="post_share ml-sm-auto">
								<span>share</span>
								<ul class="post_share_list">
									<li class="post_share_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li class="post_share_item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>

						<!-- Similar Posts -->
						<div class="similar_posts">
							<div class="grid clearfix">

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_25.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_2.jpg' %}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>

`								<!-- Small Card With Image -->
								<div class="card card_default card_small_no_image grid-item">
									<img class="card-img-top" src="{% static 'website/images/post_26.jpg'%}" alt="https://unsplash.com/@jakobowens1">
									<div class="card-body">
										<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
										<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
									</div>
								</div>
							</div>

							<!-- Post Comment -->
							<div class="post_comment">
								<div class="post_comment_title">Post Comment</div>
								<div class="row">
									<div class="col-xl-8">
										<div class="post_comment_form_container">
											<form action="#">
												<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
												<input type="email" class="comment_input comment_input_email" placeholder="Your Email" required="required">
												<textarea class="comment_text" placeholder="Your Comment" required="required"></textarea>
												<button type="submit" class="comment_button">Post Comment</button>
											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Comments -->
							<div class="comments">
								<div class="comments_title">Comments <span>(12)</span></div>
								<div class="row">
									<div class="col-xl-8">
										<div class="comments_container">
											<ul class="comment_list">
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>

													<!-- Reply -->
													<ul class="comment_list">
														<li class="comment">
															<div class="comment_body">
																<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
																	<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_2.jpg' %}" alt=""></div></div>
																	<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
																	<button type="button" class="reply_button ml-auto">Reply</button>
																</div>
																<div class="comment_content">
																	<p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
																</div>
															</div>

															<!-- Reply -->
															<ul class="comment_list">
																
															</ul>
														</li>
													</ul>
												</li>
												<li class="comment">
													<div class="comment_body">
														<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author_image"><div><img src="{% static 'website/images/comment_author_1.jpg' %}" alt=""></div></div>
															<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
															<button type="button" class="reply_button ml-auto">Reply</button>
														</div>
														<div class="comment_content">
															<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
														</div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="load_more">
						<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
					</div>
				</div>

				<!-- Sidebar -->

			


{% endblock %}